<div class="flex flex-col justify-center text-lg md:text-xl">
  <div class="flex">
    <div class="mx-1 text-blue-600">{{ personalInfo[0] }}</div>
    <div class="mx-1 text-blue-300">{{ personalInfo[1] }}</div>
    <div class="mx-1 text-white">{{ personalInfo[2] }}</div>
    <div class="mx-1 text-yellow-400">{{ personalInfo[3] }}</div>
  </div>
  <div class="flex items-center mx-4">
    <div class="mx-1 text-blue-400">{{ personalInfo[4] }}</div>
    <div class="mx-1 text-orange-600 text-xl md:text-2xl font-semibold">
      {{ personalInfo[5] }}
    </div>
  </div>
  <div class="flex items-center mx-4">
    <div class="mx-1 text-blue-400">{{ personalInfo[6] }}</div>
    <div class="mx-1 text-orange-600 sm:text-2xl font-semibold">
      {{ personalInfo[7] }}
    </div>
  </div>
  <div class="flex justify-start">
    <div class="mx-1 text-yellow-400">{{ personalInfo[8] }}</div>
  </div>
</div>
