<ul class="flex justify-center text-xl pt-2">
  <li class="mx-2">
    <a
      href="https://www.linkedin.com/in/brianevans99"
      class="text-2xl text-blue-600 hover:text-blue-700"
      target="_blank"
      rel="noopener noreferrer"
    >
      <fa name="linkedin"></fa>
    </a>
  </li>
  <li class="mx-2">
    <a
      href="https://www.github.com/brianevans99"
      class="text-2xl text-yellow-600 hover:text-yellow-700"
      target="_blank"
      rel="noopener noreferrer"
    >
      <fa name="github"></fa>
    </a>
  </li>
  <li class="mx-2">
    <a
      href="https://www.instagram.com/brian_evans99"
      class="text-2xl text-pink-600 hover:text-pink-700"
      target="_blank"
      rel="noopener noreferrer"
    >
      <fa name="instagram"></fa>
    </a>
  </li>
  <li class="mx-2">
    <a
      href="https://www.facebook.com/brianevans99"
      class="text-2xl text-blue-800 hover:text-blue-900"
      target="_blank"
      rel="noopener noreferrer"
    >
      <fa name="facebook"></fa>
    </a>
  </li>
</ul>
