<div
  class="grid grid-cols-4 lg:grid-cols-3 gap-1 bg-gray-900 text-gray-400 overflow-hidden"
>
  <div
    class="cursor-pointer bg-black col-span-4 lg:col-span-3 flex justify-center"
  >
    <div class="flex flex-col items-center py-4">
      <div class="font-mono font-bold text-2xl md:text-4xl text-center">
        Some of my projects...
      </div>
    </div>
  </div>
  <div
    class="cursor-pointer transition duration-200 ease-in-out hover:bg-gray-900 hover:scale-105 transform bg-black col-span-4 sm:col-span-2 lg:col-span-1 text-justify p-2"
  >
    <div class="flex flex-col px-2 text-gray-500" *ngFor="let item of projects">
      <div
        class="flex-initial font-mono font-semibold text-lg md:text-xl text-center leading-tight"
      >
        <p>{{ item.title }}</p>
      </div>
      <div class="flex-1 container mx-auto w-48 sm:w-56 md:w-2/3 py-2">
        <img src="{{ item.image }}" alt="{{ item.title }}" />
      </div>
      <div
        class="flex justify-center divide-x text-sm lg:text-base text-yellow-700"
      >
        <div class="text-center hover:text-white hover:font-semibold pr-2">
          <a
            href="{{ item.repoLink }}"
            target="_blank"
            rel="noopener noreferrer"
          >
            Repo link
          </a>
        </div>
        <div class="text-center hover:text-white hover:font-semibold pl-2">
          <a
            href="{{ item.urlLink }}"
            target="_blank"
            rel="noopener noreferrer"
          >
            URL link
          </a>
        </div>
      </div>
      <div class="text-base flex-auto px-4">{{ item.description }}</div>
    </div>
  </div>
</div>
