#header {
  background-image: url("../../../assets/images/backgrounds/milkyWay-min.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top right;
}
