<ul class="font-semibold text-xl text gray-300">
  <li class="flex justify-center xl:justify-start items-center">
    <div class="flex items-center">
      <div class="mr-1"><fa name="envelope"></fa></div>
      <div>:</div>
      <div class="ml-1">brianevans99@gmail.com</div>
    </div>
  </li>
  <li class="flex justify-center xl:justify-start items-center">
    <div class="flex items-center">
      <div class="mr-1"><fa name="mobile"></fa></div>
      <div>:</div>
      <div class="ml-1">404.985.7506</div>
    </div>
  </li>
</ul>
